<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Gender Bias</h2>
        <p><strong> The tech world is lacking in diversity as females and minorities are underrepresented.</strong> Stereotypes often affect hiring practices. Companies often overlook amazing potential employees because of gender and racial biases. </p>
        <p>
            <!-- <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a> -->
        </p>
    </div>
    <div class="col-md-4">
        <h2>Best Practices</h2>
        <p><strong>You can become the best by hiring the best people.</strong> However, if you let your biases get in the way, then you will not hire the best people. Our tool helps you understand your biases so you can fix them.</p>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Analytics</h2>
        <p><strong>Our advanced analytics help you understand your biases.</strong> We use state of the art algorithms to identify your biases and for paying customers, provide help and coaching for how to fix biases.</p>
        <p>
        </p>
    </div>
</div>
