<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Gender Bias</h2>
        <p><strong>We test on how you handle gender bias.</strong> Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
            mollis euismod. Donec sed odio dui.</p>
        <p>
            <!-- <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a> -->
        </p>
    </div>
    <div class="col-md-4">
        <h2>Best Practices</h2>
        <p><strong>Check out our tips on how to become the best.</strong> Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
            mollis euismod. Donec sed odio dui.</p>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Analytics</h2>
        <p><strong>See the results of your company.</strong> Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
            egestas eget quam. Vestibulum id ligula porta felis euismod semper.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus.</p>
        <p>
        </p>
    </div>
</div>