<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Bias Analytics</h1>
            <p>The initial test. Bias is not necessarily bad, however it's not necessarily good either. It's a fact of being human. To figure out what biases are present in your recruiting team. Bias Analytics would like to remove bias from the equation to help your recruiters find the best possible job applicant. Take the test.</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="/company/abc">Start Test
                    &raquo;</a>
            </p>
        </div>
    </div>
 
    <div class="container">
        <% include content %>
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>