<!DOCTYPE html>
<html>


<head> 
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>


<body> 

<div class="resume">

	<div class="name">Olivia Perozo</div>
	<!--<div class="age"> </div>-->
	<div class="email">epdfjiohij@gmail.com</div>
	<div class="phone">(123)      456-7890</div>
	<div class="address1">1 Hacker Way<br/> 
		Menlo Park, CA 94025</div>
	<div class="education">
		<div class="university">University of California at Berkeley</div>
		<div class="year">Class of 2016</div>
		<div class="gpa">4.0</div>
		<div class="degree">B.A. in History</div>
	</div>
	<div class="experience"><pre>
		6/13-9/13		Teacher’s Assistant, University of Chicago Masters Program in CS
        6/12-9/12	    Grader during the summer of 2012 promoted to Teacher’s Assistant for the summer of 2013 for CSPP 50101 Concepts of Programming (Immersion Java).  I graded tests and homework assignments in addition to holding 2 hour review and help sessions once a week and responding to student questions online.
	</pre></div>

</div>
<!--displaynon as a way to switch between divs-->
<div class="decision">

	<p> Who's the stronger candidate?</p>

	<div>
		<input id="first" type = "submit" value = "First Resume" onclick = "selectedFirstResume();"></input>

		<input id="second" type = "submit" value = "Second Resume" onclick = "selectedSecondResume();"></input>

	</div>

	<div id = "testing">
		<p></p>
	</div>

</div>

<div class="results"></div>

</body>
<script type="text/javascript">
	function selectedFirstResume(){
			if(isFirstResumeControl){
				tally++;
			}
			else{
				tally--;
			}
			console.log(tally);
		}
	function selectedSecondResume() {
		if(!isFirstResumeControl){
			tally++;
		}
		else{
			tally--;
		}
		console.log(tally);
	}
	(function($) {
		var gradYear;
		var gpaNum;
	    tally = 0;
		var numberOfPeople = 8;
		var resumeWait = 5000;
		var decisionWait = 5000;
		isFirstResumeControl = false; //if the first resume is the control, then it is true otherwise false

		var displayResultsPage = function(tally){
			$(".results").show();
			//window.location.href("/")
		}
		var displayDecisionPage = function(index, data){
			if(index == numberOfPeople){
				//Display last page
				$(".resume").hide();
				$(".decision").hide();
				$(".results").show();
				window.setTimeout(function(){displayResultsPage(tally)}, decisionWait);
			}
			else{
				//pass on 
				$(".resume").hide();
				$(".decision").show();
				window.setTimeout(function(){displayPage(index, data)}, decisionWait);
			}

		}
		var displayPage = function(index, data){ 
			$(".resume").show();
			$(".decision").hide();
			if(index<numberOfPeople){
				$(".name").html(data[index].name);
				var nameArray = data[index].name.split(" ");
				console.log(data[index].name);
				$(".email").html(nameArray[0]+ "."+nameArray[1]+"@gmail.com");		//todo: randomize domain name of email address
				var setOfThree=Math.floor(Math.random()*1001);
				var setOfFour = Math.floor(Math.random() * 10001);
				var areaCodes = ["(650)", "(212)", "(773)"];						//todo: prevent the same pair having the same info
				var rand = Math.floor(Math.random() *areaCodes.length);
				var areaCode = areaCodes[rand];
				$(".phone").html(areaCode+setOfThree+"-"+setOfFour);
				var addressNumbers = [222,3897,1873,5679,13, 10];
				var streets = ["Harrow Rd.", "54th St.", "Whisman Rd.", "Oak Grove", "Kenmore St.", "Blackstone Ave."];
				var cities = ["Menlo Park, CA 94025", "Chicago, IL 60615", "Des Moines, IA 50009", "Charlottesville, VA 22903", "Austin, TX 73301"];
				var randNumber = Math.floor(Math.random() * addressNumbers.length);
				var randSt = Math.floor(Math.random() * streets.length);
				var randCity = Math.floor(Math.random() * cities.length);
				$(".address").html(addressNumbers[randNumber] + " " +streets[randSt] + "<br/>" + cities[randCity]);

				$(".university").html(data[index].university);
				var randGradYear = 2000 + Math.floor(Math.random() * 18);
				gradYear = gradYear || randGradYear
				$(".year").html(gradYear);

				var randGPA = 2.5 + Math.random *1.5;
				gpaNum = gpaNum || randGPA;
				$(".gpa").html(gpaNum);

				$(".degree").html("B.S. in Computer Science");
				if(index%2 == 1){
					//second in the set
					gradYear = null;
					randGPA = null;
					if(data[index].control) isFirstResumeControl = false;
					window.setTimeout(function(){displayDecisionPage(index+1, data)}, resumeWait);
				} 
				else{
					if(data[index].control) isFirstResumeControl = true;
					window.setTimeout(function(){displayPage(index+1, data)}, resumeWait);
				}
			}
		}
		var cb1 = function(data, textStatus, jqXHR){
			$(".results").hide();
			$(".decision").hide();
			displayPage(0, data);
					//iterating over an array of page objects
		}
		$.getJSON("/company/abc/resumes", cb1);
	})(jQuery)

</script>
</html>