<!DOCTYPE html>
<html>


<head>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
	<link rel="stylesheet" type="text/css" href="/resume.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>


<body> 

<div class="resume">

	<div class="addresBlock">
		<div class="name">Olivia Perozo</div>
		<!--<div class="age"> </div>-->
		<div class="email">epdfjiohij@gmail.com</div>
		<div class="phone">(123)      456-7890</div>
		<div class="address1">1 Hacker Way<br/> 
			Menlo Park, CA 94025</div>
	</div>
	
	<div class="education">
		<div class="header">Education:</div>
		<div class="university">University of California at Berkeley</div>
		<div class="year">Class of 2016</div>
		<div class="gpa">GPA: <span class="num">4.0</span></div>
		<div class="degree">B.A. in History</div>
	</div>
	<div class="experience">
		<div class="header">Experience:</div>
		<pre>
6/13-9/13		Teacher’s Assistant, University of Chicago Masters Program in CS

6/12-9/12	        Grader during the summer of 2012 promoted to Teacher’s Assistant 
                       for the summer of 2013 for CSPP 50101 Concepts of Programming 
                       (Immersion Java).  I graded tests and homework assignments in 
                       addition to holding 2 hour review and help sessions once a week 
                       and responding to student questions online.

6/12-9/12	        Grader during the summer of 2012 promoted to Teacher’s Assistant 
                       for the summer of 2013 for CSPP 50101 Concepts of Programming 
                       (Immersion Java).  I graded tests and homework assignments in 
                       addition to holding 2 hour review and help sessions once a week 
                       and responding to student questions online.

6/12-9/12	        Grader during the summer of 2012 promoted to Teacher’s Assistant 
                       for the summer of 2013 for CSPP 50101 Concepts of Programming 
                       (Immersion Java).  I graded tests and homework assignments in 
                       addition to holding 2 hour review and help sessions once a week 
                       and responding to student questions online.
		</pre>
	</div>

</div>
<!--displaynon as a way to switch between divs-->
<div class="decision">
	<p> Who's the stronger candidate?</p>

	<div>
		<input type = "submit" value = "First Resume" onclick = "selectedFirstResume()">
		<input type = "submit" value = "Second Resume" onclick = "selectedSecondResume()">
	</div>
	<div id = "testing">
		<p></p>
	</div>
</div>

</body>
<script type="text/javascript">

	// var time = 30000;
	// var cb1 = function(data, textStatus, jqXHR ){
	// 	$(".name").html(data.name);
	// 	$(".university").html(data.university);
	// 	var time = 30000;
	// 	$.get("/company/:id/choice");
	// }
	// $.get("/company/:id/resumes/2", cb1);
	(function($) {
		var gradYear;
		var gpaNum;
		var displayPage = function(index, data){ 
			if(index<15){
				$(".name").html(data[index].name);
				var nameArray = data[index].name.split(" ");
				console.log(data[index].name);
				$(".email").html(nameArray[0]+ "."+nameArray[1]+"@gmail.com");		//todo: randomize domain name of email address
				var setOfThree=Math.floor(Math.random()*1001);
				var setOfFour = Math.floor(Math.random() * 10001);
				var areaCodes = ["(650)", "(212)", "(773)"];						//todo: prevent the same pair having the same info
				var rand = Math.floor(Math.random() *areaCodes.length);
				var areaCode = areaCodes[rand];
				$(".phone").html(areaCode+setOfThree+"-"+setOfFour);
				var addressNumbers = [222,3897,1873,5679,13, 10];
				var streets = ["Harrow Rd.", "54th St.", "Whisman Rd.", "Oak Grove", "Kenmore St.", "Blackstone Ave."];
				var cities = ["Menlo Park, CA 94025", "Chicago, IL 60615", "Des Moines, IA 50009", "Charlottesville, VA 22903", "Austin, TX 73301"];
				var randNumber = Math.floor(Math.random() * addressNumbers.length);
				var randSt = Math.floor(Math.random() * streets.length);
				var randCity = Math.floor(Math.random() * cities.length);
				$(".address").html(addressNumbers[randNumber] + " " +streets[randSt] + "<br/>" + cities[randCity]);

				$(".university").html(data[index].university);
				var randGradYear = 2000 + Math.floor(Math.random() * 18);
				gradYear = gradYear || randGradYear
				$(".year").html(gradYear);

				var randGPA = 2.5 + Math.random *1.5;
				gpaNum = gpaNum || randGPA;
				$(".gpa").html(gpaNum);

				$(".degree").html("B.S. in Computer Science");
				if(index%2 == 1){
					//second in the set
					gradYear = null;
					randGPA = null;

				} else (index%2==0) {
					//TODO Send the first thing 
				}
				else{
					window.setTimeout(function(){displayPage(index+1, data)}, 5000);
				}
			}
		}
		var cb1 = function(data, textStatus, jqXHR){
			displayPage(0, data);
					//iterating over an array of page objects
		}
		$.getJSON("/company/abc/resumes", cb1);
	})(jQuery)

</script>
</html>